.title {
	padding-top: 2.5em;
	background-color: #2874A6;
	color: white;
}

.oregonState {
	color: #DC4405;
}

.universityOfNM {
	color: #ba0c2f;
}

.hello {
	background-color: black;
	color: white;
	font-size: 5em;
}

h2 {
	background-color: #AEB6BF;
	border-style: none;
	color: white;
}

.nav-item, .navbar-brand{
	font-size: 2.25em;
}

.contact {
	font-size: 2.25em;
	
}