
body {
	font-weight: 500;
	perspective: 1000px;
}

.title {
	padding-top: 1.5em;
	background-color: #2874A6;
	color: white;
}

.oregonState {
	color: #DC4405;
}

.universityOfNM {
	color: #ba0c2f;
}

.hello {
	color: black;
	font-size: 5em;
	transition: transform 2s;
}

h2 {
	background-color: #AEB6BF;
	border-style: none;
	color: white;
}

.nav-item, .navbar-brand{
	font-size: 2.25rem;
	transition: transform .5s;
}

.icon {
	transition: transform 1s;
}

.contact {
	font-size: 2rem;
}

.name {
	font-family: "Bungee Shade";
	font-size: 3.5rem;
	
}

.about {
	font-size: 1.5rem;
}


/* Animations */
.nav-item:hover {
	transform: translateY(10px);

}

.hello:hover {
	transform: rotateX(1turn);
}


.icon:hover {
	transform: scale(2);
}

a {
	font-size: 1.5rem;
}

